.main-body {
  background-image: url("../images/Home pattern BG.svg");
  min-height: 100vh;
  background-size: cover;
}
.main-body .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.main-body .container nav h1 {
  font-weight: 800;
  font-size: clamp(1.5rem, calc(1.3162rem + 0.9804vw), 2.125rem);
}
.main-body .container nav ul {
  display: flex;
  list-style: none;
  font-weight: 500;
  padding: 0px;
}
.main-body .container nav ul .active {
  background: rgba(255, 153, 153, 0.05);
  box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  color: #FF4242;
}
@media (max-width: 575px) {
  .main-body .container nav ul .active {
    border-radius: 0px 0px 20px 20px;
  }
}
.main-body .container nav ul li {
  border-radius: 0px 0px 25px 25px;
  padding: clamp(0.9375rem, calc(0.6618rem + 1.4706vw), 1.875rem) clamp(0.8125rem, calc(0.5919rem + 1.1765vw), 1.5625rem) clamp(0.625rem, calc(0.4412rem + 0.9804vw), 1.25rem);
  font-size: clamp(1rem, calc(0.9265rem + 0.3922vw), 1.25rem);
  text-transform: capitalize;
  color: black;
}
.main-body .container nav i {
  font-size: 28px;
}
@media (max-width: 575px) {
  .main-body .container nav i {
    font-size: 25px;
  }
}
.main-body .container .alert {
  background: rgba(255, 153, 153, 0.05);
  box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  font-weight: 500;
  font-size: clamp(1rem, calc(0.8162rem + 0.9804vw), 1.625rem);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: clamp(0.625rem, calc(0.4412rem + 0.9804vw), 1.25rem);
  padding: 15px clamp(0.3125rem, calc(-0.0551rem + 1.9608vw), 1.5625rem);
  text-decoration: none;
  color: black;
}
.main-body .container .alert i {
  font-size: 35px;
}
@media (max-width: 575px) {
  .main-body .container .alert i {
    font-size: 27px;
  }
}
.main-body .container .alert span {
  color: #FF1919;
  white-space: nowrap;
}
@media (max-width: 575px) {
  .main-body .container .alert {
    flex-direction: column;
    margin-top: 20px;
  }
}
.main-body .container .recent-offers, .main-body .container .for-you-offers, .main-body .container .new-stores {
  position: relative;
}
.main-body .container .recent-offers .head, .main-body .container .for-you-offers .head, .main-body .container .new-stores .head {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 20px;
  margin-top: 90px;
  gap: 10px;
}
.main-body .container .recent-offers .head h1, .main-body .container .for-you-offers .head h1, .main-body .container .new-stores .head h1 {
  font-weight: 600;
  font-size: clamp(1.125rem, calc(0.8125rem + 1.6667vw), 2.1875rem);
}
.main-body .container .recent-offers .head h1 span, .main-body .container .for-you-offers .head h1 span, .main-body .container .new-stores .head h1 span {
  font-weight: normal;
  font-size: clamp(0.9375rem, calc(0.6618rem + 1.4706vw), 1.875rem);
}
.main-body .container .recent-offers .head a, .main-body .container .for-you-offers .head a, .main-body .container .new-stores .head a {
  font-weight: 500;
  white-space: nowrap;
  font-size: clamp(1rem, calc(0.7426rem + 1.3725vw), 1.875rem);
  line-height: 38px;
  color: #FF4242;
  text-decoration: none;
}
.main-body .container .recent-offers .swiper, .main-body .container .for-you-offers .swiper, .main-body .container .new-stores .swiper {
  padding: 10px;
  position: static;
}
.main-body .container .recent-offers .swiper .swiper-pagination, .main-body .container .for-you-offers .swiper .swiper-pagination, .main-body .container .new-stores .swiper .swiper-pagination {
  bottom: -35px;
  display: flex;
  width: calc(100% - 170px);
  left: 50%;
  transform: translateX(-50%);
}
.main-body .container .recent-offers .swiper .swiper-pagination span, .main-body .container .for-you-offers .swiper .swiper-pagination span, .main-body .container .new-stores .swiper .swiper-pagination span {
  width: 100%;
  border-radius: 10px;
  height: 6px;
}
.main-body .container .recent-offers .swiper .swiper-pagination .swiper-pagination-bullet-active, .main-body .container .for-you-offers .swiper .swiper-pagination .swiper-pagination-bullet-active, .main-body .container .new-stores .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FF1919;
}
.main-body .container .recent-offers .swiper .swiper-button-next, .main-body .container .recent-offers .swiper .swiper-button-prev, .main-body .container .for-you-offers .swiper .swiper-button-next, .main-body .container .for-you-offers .swiper .swiper-button-prev, .main-body .container .new-stores .swiper .swiper-button-next, .main-body .container .new-stores .swiper .swiper-button-prev {
  bottom: -50px;
  position: absolute;
  top: auto;
  background: rgba(255, 153, 153, 0.05);
  box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2.5px);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body .container .recent-offers .swiper .swiper-button-next::after, .main-body .container .recent-offers .swiper .swiper-button-prev::after, .main-body .container .for-you-offers .swiper .swiper-button-next::after, .main-body .container .for-you-offers .swiper .swiper-button-prev::after, .main-body .container .new-stores .swiper .swiper-button-next::after, .main-body .container .new-stores .swiper .swiper-button-prev::after {
  font-size: 20px;
  color: #FF1919;
}
.main-body .container .recent-offers .swiper .swiper-button-next, .main-body .container .for-you-offers .swiper .swiper-button-next, .main-body .container .new-stores .swiper .swiper-button-next {
  right: 30px;
}
.main-body .container .recent-offers .swiper .swiper-button-prev, .main-body .container .for-you-offers .swiper .swiper-button-prev, .main-body .container .new-stores .swiper .swiper-button-prev {
  left: 30px;
}
.main-body .container .recent-offers .swiper .swiper-slide, .main-body .container .for-you-offers .swiper .swiper-slide, .main-body .container .new-stores .swiper .swiper-slide {
  background: rgba(255, 153, 153, 0.05);
  box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2.5px);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  height: auto;
}
.main-body .container .recent-offers .swiper .swiper-slide .img, .main-body .container .for-you-offers .swiper .swiper-slide .img, .main-body .container .new-stores .swiper .swiper-slide .img {
  width: 100%;
  height: clamp(10rem, calc(9.2647rem + 3.9216vw), 12.5rem);
  border-radius: 20px;
  overflow: hidden;
}
.main-body .container .recent-offers .swiper .swiper-slide .img img, .main-body .container .for-you-offers .swiper .swiper-slide .img img, .main-body .container .new-stores .swiper .swiper-slide .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-body .container .recent-offers .swiper .swiper-slide p, .main-body .container .for-you-offers .swiper .swiper-slide p, .main-body .container .new-stores .swiper .swiper-slide p {
  margin: 0;
  font-weight: 600;
  font-size: clamp(1.125rem, calc(1.0515rem + 0.3922vw), 1.375rem);
  color: #FF1919;
  text-align: left;
  margin-left: 7px;
  margin-top: 7px;
}
.main-body .container .recent-offers .swiper .swiper-slide h4, .main-body .container .for-you-offers .swiper .swiper-slide h4, .main-body .container .new-stores .swiper .swiper-slide h4 {
  margin: 0;
  font-weight: 600;
  font-size: clamp(1.25rem, calc(1.1581rem + 0.4902vw), 1.5625rem);
  text-align: left;
  margin-left: 7px;
}
.main-body .container .recent-offers .swiper .swiper-slide .btns, .main-body .container .for-you-offers .swiper .swiper-slide .btns, .main-body .container .new-stores .swiper .swiper-slide .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}
.main-body .container .recent-offers .swiper .swiper-slide .btns button, .main-body .container .for-you-offers .swiper .swiper-slide .btns button, .main-body .container .new-stores .swiper .swiper-slide .btns button {
  font-size: clamp(1rem, calc(0.9081rem + 0.4902vw), 1.3125rem);
  border: 3px solid #FF1919;
  padding: 3px 15px;
  transition: background-color .3s ease-out;
  color: #FF1919;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 600;
}
.main-body .container .recent-offers .swiper .swiper-slide .btns button:hover, .main-body .container .for-you-offers .swiper .swiper-slide .btns button:hover, .main-body .container .new-stores .swiper .swiper-slide .btns button:hover {
  background-color: #FF1919;
  color: white;
}
.main-body .container .recent-offers .swiper .swiper-slide .btns button:hover i, .main-body .container .for-you-offers .swiper .swiper-slide .btns button:hover i, .main-body .container .new-stores .swiper .swiper-slide .btns button:hover i {
  color: white;
}
.main-body .container .recent-offers .swiper .swiper-slide .btns button i, .main-body .container .for-you-offers .swiper .swiper-slide .btns button i, .main-body .container .new-stores .swiper .swiper-slide .btns button i {
  color: #FF1919;
}
.main-body .container .recent-offers .swiper .swiper-slide .btns button:first-child, .main-body .container .for-you-offers .swiper .swiper-slide .btns button:first-child, .main-body .container .new-stores .swiper .swiper-slide .btns button:first-child {
  background: #FF1919;
  border-radius: 10px;
  color: #FFFFFF;
}
.main-body .container .recent-offers .swiper .swiper-slide .btns button:first-child:hover, .main-body .container .for-you-offers .swiper .swiper-slide .btns button:first-child:hover, .main-body .container .new-stores .swiper .swiper-slide .btns button:first-child:hover {
  background-color: transparent;
  color: #FF1919;
}
.main-body .container .recent-offers .head {
  margin-top: 50px;
}
.main-body .container .for-you-offers .your-pref {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 15px;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 15px;
}
.main-body .container .for-you-offers .your-pref > div {
  display: flex;
  align-items: center;
  gap: clamp(0.3125rem, calc(0.0368rem + 1.4706vw), 1.25rem);
  justify-content: center;
  flex-wrap: wrap;
}
.main-body .container .for-you-offers .your-pref > div:first-child {
  justify-content: start;
}
@media (max-width: 992px) {
  .main-body .container .for-you-offers .your-pref > div:last-child {
    justify-content: end;
  }
}
@media (max-width: 575px) {
  .main-body .container .for-you-offers .your-pref > div {
    margin: 0;
  }
}
.main-body .container .for-you-offers .your-pref .has-after::before {
  content: '|';
  display: none;
}
.main-body .container .for-you-offers .your-pref p {
  font-weight: 500;
  font-size: clamp(1rem, calc(0.8162rem + 0.9804vw), 1.625rem);
  text-align: left;
  margin-right: 15px;
  margin-bottom: 0;
}
.main-body .container .for-you-offers .your-pref .option {
  font-size: clamp(0.75rem, calc(0.5846rem + 0.8824vw), 1.3125rem);
  border: 3px solid #D9D9D9;
  padding: 3px 15px;
  transition: background-color .3s ease-out;
  color: black;
  border-radius: 10px;
  background-color: #D9D9D9;
  font-weight: 600;
  cursor: pointer;
}
.main-body .container .for-you-offers .your-pref .has-after button {
  font-size: clamp(0.75rem, calc(0.5846rem + 0.8824vw), 1.3125rem);
}
@media (max-width: 575px) {
  .main-body .container .for-you-offers .your-pref .has-after {
    display: none;
  }
}
.main-body .container .for-you-offers .your-pref .option.active, .main-body .container .for-you-offers .your-pref .more, .main-body .container .for-you-offers .your-pref .add {
  border: 3px solid #FF1919;
  padding: 3px 15px;
  transition: background-color .3s ease-out;
  color: white;
  border-radius: 10px;
  background-color: #FF1919;
  font-weight: 600;
  font-size: clamp(0.75rem, calc(0.5846rem + 0.8824vw), 1.3125rem);
}
.main-body .container .for-you-offers .your-pref .add, .main-body .container .for-you-offers .your-pref .more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.main-body .container .for-you-offers .your-pref .add i, .main-body .container .for-you-offers .your-pref .more i {
  font-size: clamp(0.75rem, calc(0.5846rem + 0.8824vw), 1.3125rem);
  color: white;
}
.main-body .container .for-you-offers .your-pref .add i:nth-child(2), .main-body .container .for-you-offers .your-pref .more i:nth-child(2) {
  transform: translateY(-4px);
}
.main-body .container .for-you-offers .your-pref .more i {
  font-size: clamp(0.4375rem, calc(0.3824rem + 0.2941vw), 0.625rem);
  color: white;
}
.main-body .container .for-you-offers .your-pref .more i:nth-child(2) {
  transform: translateY(-3px);
  font-size: clamp(0.625rem, calc(0.5699rem + 0.2941vw), 0.8125rem);
}
.main-body .container .for-you-offers .your-pref .btn-ma {
  font-size: 21px;
  border: 3px solid #FF1919;
  padding: 3px 15px;
  transition: background-color .3s ease-out;
  color: #FF1919;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 600;
}
.main-body .container .for-you-offers .your-pref .btn-ma:hover {
  background-color: #FF1919;
  color: white;
}
.main-body .container .for-you-offers .your-pref .btn-ma:hover i {
  color: white;
}
.main-body .container .for-you-offers .your-pref .btn-ma i {
  color: #FF1919;
}
.main-body .container .for-you-offers .your-pref .btn-ma.more {
  background: #FF1919;
  border-radius: 10px;
  color: #FFFFFF;
}
.main-body .container .for-you-offers .your-pref .btn-ma.more i {
  color: #FFFFFF;
}
.main-body .container .for-you-offers .your-pref .btn-ma.more:hover {
  background-color: transparent;
  color: #FF1919;
}
.main-body .container .for-you-offers .your-pref .btn-ma.more:hover i {
  color: #FF1919;
}
.main-body .container .for-you-offers .swiper .swiper-slide .img {
  height: clamp(8.125rem, calc(7.7574rem + 1.9608vw), 9.375rem);
}
.main-body .container .for-you-offers .swiper .swiper-slide .btns button {
  font-size: clamp(0.8125rem, calc(0.7022rem + 0.5882vw), 1.1875rem);
}
.main-body .container .new-stores .swiper .swiper-slide .img {
  height: clamp(11.25rem, calc(9.9632rem + 6.8627vw), 15.625rem);
}
.main-body .container .new-stores .swiper .swiper-slide p {
  text-align: center;
  font-weight: 700;
  font-size: clamp(1.25rem, calc(0.9559rem + 1.5686vw), 2.25rem);
  line-height: 33px;
  margin-top: 20px;
}
.main-body .container .new-stores .swiper .swiper-slide h4 {
  text-align: center;
  font-weight: 600;
  font-size: clamp(1.375rem, calc(1.1728rem + 1.0784vw), 2.0625rem);
}
.main-body .container .new-stores .swiper .swiper-slide .btns button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.main-body .container .new-stores .swiper .swiper-slide .btns button:first-child i {
  color: white;
}
.main-body .container .new-stores .swiper .swiper-slide .btns button:first-child:hover i {
  color: #FF1919;
}
.main-body .container .about {
  display: flex;
  margin: 100px 0 70px;
  gap: clamp(1.875rem, calc(1.1397rem + 3.9216vw), 4.375rem);
  align-items: center;
}
@media (max-width: 575px) {
  .main-body .container .about {
    flex-direction: column;
  }
}
.main-body .container .about .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: clamp(0.9375rem, calc(0.7537rem + 0.9804vw), 1.5625rem);
}
.main-body .container .about .form h1 {
  font-weight: 600;
  font-size: clamp(1.5rem, calc(0.8015rem + 2.0588vw), 2.5rem);
}
@media (max-width: 575px) {
  .main-body .container .about .form h1 {
    text-align: center;
    width: 100%;
  }
}
.main-body .container .about .form button {
  background: rgba(255, 153, 153, 0.05);
  box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2.5px);
  border-radius: 35px;
  border: none;
  padding: clamp(0.625rem, calc(0.4412rem + 0.9804vw), 1.25rem);
  width: calc(100% - clamp(0rem, calc(-1.2868rem + 6.8627vw), 4.375rem));
  text-align: left;
  font-size: clamp(1.125rem, calc(0.9412rem + 0.9804vw), 1.75rem);
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  padding-left: 30px;
}
@media (max-width: 575px) {
  .main-body .container .about .form button {
    width: 100%;
  }
}
.main-body .container .about .form button i {
  font-size: clamp(1.4375rem, calc(1.2169rem + 1.1765vw), 2.1875rem);
}
.main-body .container .about .img {
  width: 100%;
  height: clamp(8.75rem, calc(5.9926rem + 14.7059vw), 18.125rem);
  border-radius: 35px;
  overflow: hidden;
}
.main-body .container .about .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-body footer {
  background: #EE1717;
}
.main-body footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}
.main-body footer .container ul {
  list-style: none;
  padding: 0%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}
.main-body footer .container ul li {
  color: white;
  font-weight: 500;
  font-size: clamp(1.125rem, calc(0.9412rem + 0.9804vw), 1.75rem);
}
.main-body footer .container ul li i {
  color: white;
  font-size: clamp(2.1875rem, calc(2.0037rem + 0.9804vw), 2.8125rem);
}
.main-body .copyRight {
  background: #2d2d2d;
  color: white;
  padding: 10px;
  font-size: clamp(1.125rem, calc(1.0699rem + 0.2941vw), 1.3125rem);
  font-weight: 600;
}

/*# sourceMappingURL=main.css.map */
